body {
  font: 18px arial;
  --rt-orange: #ee7222;
  --rt-lightblue: #0095db;
  --rt-darkblue: #023770;
  --wordBackgroundColor: var(--rt-lightblue);
  --wordBackgroundColorHighlight: var(--rt-orange);
  --pausecircleBackground: var(--rt-darkblue);
  --wordHeight: 4.6vh;
  --wordColor: beige;
  background: var(--rt-lightblue);
}

h1 {
  xfloat: right;
}

song-text audio {
  float: right;
}

song-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

song-pause {
  display: inline-block;
  width: var(--wordHeight);
}
song-word {
  background: var(--wordBackgroundColor);
  font: var(--wordHeight) arial;
  cursor: pointer;
  padding: 0 0.3em;
  margin: 0;
  color: var(--wordColor);
  text-shadow: 2px 2px black;
}
